<%- include('partials/header') %>
<h1 >Hello, <%= user ? user.name : "friend" %></h1>
<iframe src="https://open.spotify.com/embed/playlist/690eRPMGcHqBrNITTN2DXH/shuffle" width="300" height="78" frameborder="0" allowtransparency="true" allow="encrypted-media" ></iframe>


<%- include('partials/footer') %>
