<%- include('partials/header') %>
<img
  src="https://cdn.wallpapersafari.com/41/89/L4AwBf.png"
  height="300"
  width="100%"
  style="
    border-bottom: ridge 2px black;
    border-top: ridge 2px black;
    border-left: ridge 1px black;
    border-right: ridge 1px black;
  "
  alt=""
/>
<h1>Welcome to AniApp</h1>
<h3>Hello, <%= user ? user.name : "friend" %></h3>

<div></div>
  <b>Preface:</b>
  This project is currently undergoing a remodel and restyle that is slated to be deployed on Friday March 5, 2021. Since the initial deployment of this application some of the data being received has been changed. This data change caused the application to throw an ejs linting error on the anime and manga show pages. This led me to convert this Node.js & EJS application to a M.E.R.N stack application. During the creation of AniApp V2, the database and search functionality will be fine-tuned to increase search efficiency and decrease database load. To view the presentation of AniApp v1 please visit the SEIR-11-2 Unit 2 Project presentation video (19min mark) by clicking the link below: 
  <a href="https://www.youtube.com/watch?v=iF0Fm2TyI_0&list=PL2Kp3FX7ViJiFKVX7lJsk5QknZfID797Z&index=65">Presentation</a> 
  To view the current AniApp v2 GitHub click below:
  <a href="https://github.com/tjpreston96/AniApp-React">AniApp v2 GitHub</a>
  <br>

  Thank you,
  AniApp Dev Team
</div></div>
<!-- <iframe
  src="https://open.spotify.com/embed/playlist/690eRPMGcHqBrNITTN2DXH/shuffle"
  width="300"
  height="78"
  frameborder="0"
  allowtransparency="true"
  allow="encrypted-media"
></iframe>
<h2>Message Board⬇</h2> -->

<%- include('partials/footer') %>
