<%- include('partials/header') %>
<img src="https://cdn.wallpapersafari.com/41/89/L4AwBf.png" height="300" width="100%" style="border-bottom: ridge 2px black; border-top: ridge 2px black; border-left: ridge 1px black; border-right: ridge 1px black;" alt="">
<h1 >Hello, <%= user ? user.name : "friend" %></h1>
<iframe src="https://open.spotify.com/embed/playlist/690eRPMGcHqBrNITTN2DXH/shuffle" width="300" height="78" frameborder="0" allowtransparency="true" allow="encrypted-media" ></iframe>
<h2>Message Board⬇</h2>


<%- include('partials/footer') %>
