<%- include('partials/header') %>
<h1 >Hello, <%= user ? user.name : "friend" %></h1>
<iframe src="https://open.spotify.com/embed/playlist/690eRPMGcHqBrNITTN2DXH" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>


<%- include('partials/footer') %>
