body {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: gray;
    background: url('https://static.wikia.nocookie.net/v__/images/5/5f/404_not_found.png/revision/latest?cb=20171104190424&path-prefix=vocaloidlyrics');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    color: white;
}
h1{
    text-align: center;
}