body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(57, 95, 110);
  margin: 0;
  min-width: 100vw;
}

nav {
  background-color: white;
}
.card {
  margin-top: 2rem;
}
#avatarPhoto {
  border-radius: 50%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.collectionImg {
  max-width: 20rem;
}

.collectionBtn {
  max-width: 30rem;
}
/* hr {
  border-top: 2px solid black;
} */

main {
  align-items: center;
}
/* main>div:first-of-type{
  display: flex;
  justify-content: center;
  align-items: center;
} */
