body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(57, 95, 110);
  margin: 0;
  min-width: 100vw;
}

h2 {
  margin-top: 1rem;
}
.card {
  margin-top: 2rem;
}
#avatarPhoto {
  border-radius: 50%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-top: 1rem; */
}

.collectionImg {
  width: 65%;
  max-width: 35rem;
}

.collectionBtn {
  max-width: 35rem;
}

main {
  align-items: center;
}

.search {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

#userCard {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userDiv {
  width: 80%;
}

