<%- include('../partials/header') %>
<h3>Manga Collection</h3>

<% anime.forEach(anime=> { %>
    <div class="card" style="width: 18rem;">
        <div class="card-body">

        </div>
    </div>
<% }) %>

<%- include('../partials/footer') %>