<%- include('../partials/header') %>
<h3>Manga Collection</h3>
<% if(manga.length > 0) { %> 
    <% manga.forEach(manga => { %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">

            </div>
        </div>
    <% }) %>
<% } else { %> 
    <h3>There are no manga in your list</h3>
    <img src="https://33.media.tumblr.com/tumblr_m9h3kixUMO1rezesro1_500.gif" alt="">
<% } %> 
<hr>
<a href="/manga/new" class="btn btn-info" role="button">ADD MANGA</a>

<%- include('../partials/footer') %>