<%- include('../partials/header') %>

<form action="/manga/search" method="POST">
    <div class="form-row">
      <div class="col-md-4">
        <input type="text" class="form-control" name="query" placeholder="Search for manga...">
      </div>
    </div>
    <button type="submit" class="btn btn-info">Search</button>
  </form>

<%- include('../partials/footer') %>